<% provide(:title, "About") %>
<h1>About</h1>
  <p>
    This is funny <a href="https://en.wikipedia.org/wiki/Time_management">Time Management</a> System created as a test project with
    <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  </p>