<% provide(:title, "Contact") %>
<h1>Contact</h1>
  <p>Please contact me on <a href="https://vk.com/id15415622">vk.com</a>, <a href="https://twitter.com/?lang=ru">twitter</a>, <a href="https://www.linkedin.com/">linkedid</a>.
  </p>